body {
    font-family: Arial, Helvetica, sans-serif;
}
#container{

}

form {
    width: 800px;
    margin: 0 auto;
    overflow: hidden;
}

h1 {
    margin-left: 275px;
}

label {
    display: block;
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: 600;
}

input, select {
    width: 300px;
    height: 30px;
    border-radius: 7px;
    border:1px solid rgb(226, 225, 225);
}

select {
    width: 307px;
    height: 38px;
}

button {
    float: right;
    margin-top: 60px;
    height: 30px;
    padding: 0px 15px 0px 15px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    
}

#btnCancelar {
    border: 1px solid transparent;
    background-color: transparent;
}

#btnGuardar {
    border: 1px solid #ace45b;
    background-color: #ace45b;
    color: white;
}

@media (max-width: 768px) {
    body {
        background-color: #dcdec6;

        
    }
    #container{
        background-color: white;
        border-radius: 20px;
        box-shadow: 0px 3px 6px 0px slategray;
        padding: 25px 0px 25px 0px;
        
    }
    form {
        width: 350px;
        display: grid;
        justify-content: center;
    }
    h1{
        margin: 0;
        text-align: center;
        
    }
    input, select {
        background-color: #dcdec6
    }
    button {

        float: none;
    }
    
  }
